<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义了命名空间 -->
<mapper namespace="com.disaster.disastercode.mapper.DetailDisasterMapper">

        <!-- 定义了一个结果映射 resultMap，用于映射到具体的实体类 --> 
        <resultMap id="BaseResultMap" type="com.disaster.disastercode.model.domain.DetailDisaster">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="county" column="county" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="village" column="village" jdbcType="VARCHAR"/>
            <result property="occurTime" column="occurTime" jdbcType="TIMESTAMP"/>
            <result property="sourceMain" column="sourceMain" jdbcType="VARCHAR"/>
            <result property="sourceSub" column="sourceSub" jdbcType="VARCHAR"/>
            <result property="codeType" column="codeType" jdbcType="VARCHAR"/>
            <result property="disasterMain" column="disasterMain" jdbcType="VARCHAR"/>
            <result property="disasterSub" column="disasterSub" jdbcType="VARCHAR"/>
            <result property="disasterType" column="disasterType" jdbcType="VARCHAR"/>
            <result property="disasterPoint" column="disasterPoint" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>
 
        <!-- 定义了一个 SQL 片段，用于其他 SQL 语句的复用 -->
    <sql id="Base_Column_List">
        id,province,city,
        county,town,village,
        occurTime,sourceMain,sourceSub,
        codeType,disasterMain,disasterSub,
        disasterType,disasterPoint,description
    </sql>
        <!-- 定义了一个查询语句，通过属性 `id` 指定查询语句的唯一标识，`resultType` 指定返回结果的类型 --> 
    <select id="getMonthlyTimes" resultType="com.disaster.disastercode.DTO.MonthTime">
        SELECT YEAR
            ( occurTime ) AS 'year',
            MONTH ( occurTime ) AS 'month',
            count(*) AS 'times'
        FROM
            detail_disaster
        GROUP BY
            YEAR ( occurTime ),
            MONTH ( occurTime )
        ORDER BY
            YEAR ( occurTime ) DESC,
            MONTH ( occurTime ) DESC
            LIMIT #{limits};
    </select>
        <!-- 定义了一个查询语句，通过属性 `id` 指定查询语句的唯一标识，`resultType` 指定返回结果的类型 -->
    <select id="getProvinceTimes" resultType="com.disaster.disastercode.DTO.ProvinceTime">
        SELECT
            province,
            COUNT(*) AS 'times'
        FROM
            detail_disaster
        GROUP BY
            province
        ORDER BY
            count(*);
    </select>
        <!-- 定义了一个查询语句，通过属性 `id` 指定查询语句的唯一标识，`resultType` 指定返回结果的类型 -->
    <select id="getCodeTypeTimes" resultType="com.disaster.disastercode.DTO.CodeTypeTime">
        SELECT
            codeType,
            COUNT(*) AS 'times'
        FROM
            detail_disaster
        GROUP BY
            codeType
        ORDER BY
            count(*);
    </select>


</mapper>
