<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disaster.disastercode.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.disaster.disastercode.model.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="userJob" column="userJob" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,
        userName,avatarUrl,userJob
    </sql>
</mapper>
